<div class="jumbotron" >
  <h1 class="display-4">Auction</h1>
  <p class="lead">Control your lots, conveniently!</p>
  <hr class="my-4">
  <p>In Development</p>
  <br/><br/>
</div>

<%= render 'layouts/footer' %>
