<%= render @lot %>
<% if @lot.user_id == current_user.id %>
<p>
  <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Settings
  </button>
</p>
<div style="min-height: 100px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample" >
    <div class="card card-body" style="width: 150px; flex-direction: row; justify-content: space-between;">
      <%= link_to "Edit", edit_lot_path(@lot), class:'btn btn-outline-secondary btn-sm' %>
      <%= button_to "Delete", @lot, method: :delete, class:'btn btn-outline-danger btn-sm' %>
    </div>
  </div>
</div>
<% end %>

