<div class="jumbotron" >
  <h1 class="display-4">Morning, <%= @user.name %></h1>
  <p class="lead"><%=Lot.count %> lots are actively waiting for you!
  </p>
  <hr class="my-4">
  <p>Have a nice day, best regards Auction team.</p>
  <br/><br/>
</div>
